/* ChatApp.css */
.message-container {
  display: flex;
  flex-direction: column;
  max-width: 600px; /* 최대 너비 설정 */
}

.message {
  background-color: #F0F0F0;
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
  word-wrap: break-word;
  max-width: 80%; /* 메시지 말풍선의 최대 너비 설정 */
}

.message.sender {
  align-self: flex-end; /* 자신이 보낸 메시지는 오른쪽 정렬 */
  background-color: #DCF8C6;
}